{% extends "base.html" %}

{% block title %}Delete task{% endblock %}

{% block content %}
    <h2>Вы уверены, что хотите удалить задачу "{{ task.name }}"?</h2>
    <form action="{% url 'delete' task.pk %}" method="post">
        {% csrf_token %}
        <input type="radio" value="yes" name="delete" id="yes" class="radio">
        <label for="yes">Да</label> <br>
        <input type="radio" value="no" checked name="delete" id="no" class="radio">
        <label for="no">Нет</label>
        <br>
        <input class="action" type="submit" value="ОК">
    </form>
{% endblock %}