body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	background: #f4efeb;
	width: 1396px;
    font-size: 14px;
    }

    .header{
	    height: 90px;
    }

    .menu {
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 38px;
    }

    .menu ul {
        padding: 0px !important;
    }
    .menu li {
        display: inline-block;
        padding-right: 20px;
    }

    .menu li a {
        text-decoration: none;
        color: #008000;
    }

    a {
        text-decoration: none;
        color: #008000;
    }

    a:hover {
        color: #008a9f;
    }

    .menu li a:hover {
        color: #008a9f;
    }


    h1{
        font-size: 20px;
        text-transform: uppercase;
    }

    h2{
        font-size: 18px;
    }

    .container p a{
        text-decoration: none;
        color: #008000;
    }

    .container p a:hover{
         color: #008a9f;
    }

    .submit {
	background-color: ##f4efeb;
	font-size: 15px;
	text-transform: uppercase;
        border: solid 2px #008a9f;
	border-radius: 5px;
	color: #008000;
	font-weight: lighter;
	width: 300px !important;
	height: 30px;
    margin: 2px;
    }


    textarea {
        background-color: ##f4efeb;
	    font-size: 15px;
        border: solid 2px #008a9f;
	    border-radius: 5px;
	    color: #008000;
	    font-weight: lighter;
        width: 300px;
        height: 100px;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    border: solid 2px #008a9f;
    padding: 3px 5px;
    }

    input{
        background-color: ##f4efeb;
	    font-size: 15px;
        border: solid 2px #008a9f;
	    border-radius: 5px;
	    color: #008000;
	    font-weight: lighter;
	    width: 300px !important;
	    height: 30px;
        margin: 2px;
    }

    select{
        background-color: ##f4efeb;
	    font-size: 15px;
        border: solid 2px #008a9f;
	    border-radius: 5px;
	    color: #008000;
	    font-weight: lighter;
	    width: 300px !important;
	    height: 30px;
        margin: 2px;
    }

    label{
        text-transform: uppercase;
    }

    .radio{
        width: 30px !important;
        height: 15px;
    }